/* mobile device */
@media screen and (max-width:576px) {
  .topbar-area {
      flex-direction: column;
}
.menu ul {
      flex-direction: column;
      margin-top: 60px;
}
.menu ul li {
      margin-top: 36px;
}
.menu ul li.follow {
       margin-top: 75px;
}
.banner-area{
  background: none;
}
.single-banner {
      flex-direction: column-reverse;
}
.banner-img {
    width: 100%;
    background: #fff;
    padding: 0 40px;
    }
    .banner-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
background-image: url('../images/Group\ 14.png');
background-repeat: no-repeat;
background-position: center;


}
.blue {
        font-size: 1rem;    
}
.pink {
       font-size: 1rem; 
       margin-bottom: 20px;   
}
.banner-text p {    
    font-size: 1rem; 
   text-align: start; 
}
.banner-text h2 {
       font-size: 3.93rem;    
}
.banner-text h4 {
        font-size: 2rem;
}
.videos-container {
       grid-template-columns: repeat(1,1fr);
    
}
.videos-title h2 {
    font-size: 1.5rem;
  
}
.videos-title p {
      font-size: 14px;   
}
.single-videos {
    padding: 0 40px;
    margin-bottom: 20px;
}
.vedios-text p {
       font-size: 1rem;
        text-align: center;
   
}
.footer-link ul {
    flex-wrap: wrap;
}
.footer-link ul li {
    margin: 1rem;
}
.footer-menu ul {
       flex-wrap: wrap;
}
.copyright p {
    margin-top: 40px;
    width: 44%;
    margin: 0 auto;
}
.footer-menu ul li {
    margin: 1rem;
}
.online-area {
    flex-direction: column;
    padding: 0;
}
.online-img {
    width: 100%;
    padding: 0 10%;
}

.online-text {
    width: 100%;
    padding: 0 5%;
    text-align: center;
}
.online-text h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 60px;
}
.online-img .position-img {
    width: 178px;
    right: 2%;
    
}
.single-games img {
    width: 33px;
}
.games-text {
    margin-left: 10px;
}
.games-text h4 {
        font-size: 10px;    
}
.games-area {
   
    padding: 100px 0;
}

}


/* Tablet device */

@media screen and (min-width:576px) and (max-width:992px){
  .topbar-area {
      flex-direction: column;
}
.menu {
    margin-top: 40px;
}
.single-banner {
      flex-direction: column-reverse;
}
.banner-img {
    width: 100%;
    background: #fff;
    padding: 0 40px;
    }
    .banner-text {
    width: 100%;
    padding-left: 120px; 

}
.banner-area{
  background: none;
}
.videos-container {
    
    grid-template-columns: repeat(2,1fr);
    
}
.banner-btn {
      margin-bottom: 30px;
}
.footer-link ul {
       flex-wrap: wrap;
}
.footer-menu ul {
       flex-wrap: wrap;
}
.footer-menu ul li {
    margin: 1rem;
}
.online-area {
    flex-direction: column;
    padding: 0;
}
.online-img img {
    width: 100%;
}
.online-text {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.online-img .position-img {
        width: 191px;
    
}

}